@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Open Sans", "Google Sans Code", sans-serif;
  }

  body {
    background-color: #fdfdfd;
    overflow-x: hidden;
  }
}
